<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Car Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/index/index.css" />
    <link rel="stylesheet"  href="/public/partials/nav.css" />
    <link rel="stylesheet"  href="/public/accept/accept.css" />

</head>
<body>
    <% include partials/nav.ejs %>

    <div id="accept-container">
        <div class="user-det">
            user-det from DB
        </div>


        <div class="car-det">
            car-det from DB
        </div>

        <div class="purpose-det">
            purpose from DB
        </div>

        <div class="btn-optn">
            <button type="submit" class="btn-req">ACCEPT</button>
            <button class="btn-req-rej" >REJECT</button>
            
        </div>


    </div>
    
</body>
</html>