<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Car Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/index/index.css" />
    <link rel="stylesheet"  href="/public/partials/nav.css" />
    <link rel="stylesheet"  href="/public/index/request.css" />

</head>
<body>
    <% include partials/nav.ejs %>

    <div class="requestAdContainer">

        <div class="car-details">
            <p class="car-det">Name of Car</p>
            <p class="car-det">Model</p>
            <p class="car-det">Note to renter</p>
            <p class="car-det">Price per day</p>
            <p class="car-det">User renting</p>
        </div>

        <div class="car-request-functions">
            <div class="req-functions"><p class="view">VIEW</p></div>
            <div class="req-functions "><p class="request">REQUEST</p></div>
            <div class="req-functions "><p class="negotiate">NEGOTIATE</p></div>

        </div>

        <div class="car-image">
            <div class="car-img">Car-Image</div>
        </div>
    </div>
    
</body>
</html>