#navbar{
    display: grid;
    grid-template-columns: 1fr 150px  150px;
    background-color: darkcyan;
    padding: auto 20px;
    grid-gap: 10px;
   
}

.logo{
    display: grid;
    
}


.login{
    display: grid;
    justify-content: center;
  
}

.register{
    display: grid;
    justify-content: center;
    
    
}

.login a, .register a, .logout a{
    text-decoration: none;
    color: black;
    border:1px solid #00c3ff;
    margin: 10px;
    padding: 10px;
    color: aliceblue;
    border-radius: 5px;
    background-color: #00c3ff;
    box-shadow: 1px 1px 1px 1px #aaaaaa
}



